/* components/Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    height: var(--header-height);
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .logo a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    width: 20ch;
  }
  
  .logo a:hover {
    color: #ccc;
  }
  
