/* pages/post-a-job.module.css */

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: black;
  margin: auto;
  margin-top: calc(2 * var(--header-height)); /* Ensure space below the fixed header */
}

.createJobHeader {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.input, .textarea, .select, .submitButton {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color: darkslategrey;
  width: 100%; /* Take full width of parent */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

/* For Chrome, Safari, Edge, and Opera */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.input {
  -moz-appearance: textfield;
}

.textarea {
  resize: none; /* This will prevent resizing of the textarea */
  width: 100%; /* Set a fixed width if you want, or use percentage to fill the container */
  height: 120px; /* Set a fixed height */
  /* Other styles */
}

.skillItem {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  gap: 0.5rem;
  color: white;
}

.submitButton {
  padding: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
}

.submitButton:hover {
  background-color: #005dbf;
}

.submitButton:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: left; /* Center the form fields */
  max-width: 600px; /* Maximum width of the fields */
  min-width: 100px; /* Minimum width of the fields */
  width: 100%; /* Take full width of parent */
  margin: auto;
}
.formGroup label {
  align-self: left;
}

.selectedSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.removeSkill {
  cursor: pointer;
  padding: 0.2rem;
  margin-left: 0.5rem;
}

.budgetRow {
  display: flex;
  gap: 0.5rem;
}

#budgetSelect {
  width: 100%;
}

#currencySelect {
  width: 25%;
}

#skills { 
}

#firstName {
}

#lastName {
}

#email {
}

#address {
}

#city {
}

#provinceState {
}

#country {
}

#postalCode {
}

#phoneNumber {
}

#title {
}

#description {
}

#budget {
}

#duration {
}
